@import '../../../styles/vars';

#more {
    color: $color-light;
    grid-area: contact;
    background: $background-deep;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .more-links {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #more {
        .more-links {
            margin-top: 0;
        }
    }
}

