@import '../../styles/vars';

#wheels {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

.spin-lg {
    font-size: 60px;
    position: absolute;
    top: 27px; 
    left: 9px;
}

.spin-lg--rotate {
    animation: spin 5s linear infinite reverse;
}

.spin-md {
    font-size: 50px;
    position: absolute;
    top: 21px; 
    left: 69px;
}

.spin-md--rotate {
    animation: spin 4s linear infinite;
}

.spin-sl {
    font-size: 35px;
    position: absolute;
    top: 70px; 
    left: 61px;

}

.spin-sl--rotate {
    animation: spin 3s linear infinite reverse;
}


.pulse {
    opacity: 0;
    position: absolute;
    top: -5px;
    left: -5px;
}

.pulse--display {
    opacity: 1;
}

@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
}
