// Sizes
$header-height: 50px;

// Backgrounds sections
$background-header: #323E46;
$background-abstract: #87B7C2;
$background-developer: #F4F4F4;
$background-contact: #404E57;

// Fonts colors
$color-light: #F4F4F4;
