// Sizes
$header-height: 50px;

// Backgrounds sections
$background-header: #323E46;
$background-abstract: #87B7C2;
$background-developer: #F4F4F4;
$background-contact: #404E57;

// Backgrounds colors
$background-dark: #333E46;
$background-light: #F4F4F4;
$background-dark: #333E46;
$background-green: #70A490;
$background-blue: #87B8C2;
$background-pink: #B1748F;
$background-orange: #E46F57;

// Fonts colors
$color-light: #F4F4F4;
$color-dark: #333E46;
$color-blue: #87B8C2;
$color-highlight: #E46F57;
