@import 'reset';
@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto Mono', monospace;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}
