@import '../../styles/vars';

#home {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
        "developer"
        "abstract"
        "contact";

    .home-section {
        padding: 3rem 1.5rem;
    }

    .home-title {
        text-align: center;
        font-size: 1.6rem;
        margin: 3rem 0 1rem 0;
    }

    .home-subtitle {
        font-weight: 700;
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .home-parag {
        font-size: 1rem;
        line-height: 1.6;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #home {
        grid-template-columns: 60% auto;
        grid-template-rows: 60% auto;
        grid-template-areas: 
            "developer abstract"
            "developer contact";
        height: calc(100vh - 50px);

        .home-section {
            padding: 3rem;
        }
    }
}
