@import '../../styles/vars';

#contact {
  color: $color-light;
  height: 100vh; // Fallback
  height: calc(var(--vh, 1vh) * 100 - #{$header-height} - #{$footer-height});
  background: $background-pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-mail {
    text-decoration: none;
    color: $color-light;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .contact-github {
    text-decoration: none;
    color: $color-dark;
    font-size: 1.3rem;
  }
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) { 
  #contact {

    .contact-mail {
      font-size: 3rem;
    }

    .contact-github {
      font-size: 2rem;
    }
  }
}
