@import '../../styles/vars';

#nomatch {
  color: $color-light;
  height: calc(100vh - 100px);
  background: $background-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .nomatch-alert {
        text-align: center;
        color: $color-light;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .nomatch-redirect {
        text-decoration: none;
        color: $color-highlight;
        font-size: 1.3rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  #nomatch  {

        .nomatch-alert {
            font-size: 3rem;
        }

        .nomatch-redirect {
            font-size: 2rem;
        }
    }
}
