@import '../../styles/vars';

#nomatch {
  color: $color-light;
  height: calc(100vh - 100px);
  background: $background-dark;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .nomatch-alert {
        color: $color-light;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .nomatch-redirect {
        text-decoration: none;
        color: $color-highlight;
        font-size: 1.3rem;

        .nomatch-redirect-container {
            display: flex;
            align-items: center;
        }

        .nomatch-redirect-container > img {
            width: 25px;
            height: auto;
            margin-left: 0.5rem;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  #nomatch  {

        .nomatch-alert {
            font-size: 3rem;
        }

        .nomatch-redirect {
            font-size: 2rem;

            .nomatch-redirect-container > img {
                width: 45px;
            }
        }
    }
}
