@import '../../styles/vars';

#country {
  display: flex;
  justify-content: center;
  align-items: center;

  .country-link {
    font-size: 14px;
    color: $color-highlight;
    margin-left: 1rem;
    padding: 0.3rem 0;
    cursor: pointer;
    opacity: 0.8;
  }

  .country-link:hover {
    opacity: 1;
  }
}
