@import '../../../styles/vars';

#abstract {
    grid-area: abstract;
    background-color: $background-abstract;
    color: $color-light;

    .home-parag:first-of-type {
        margin-bottom: 1rem;
    }
}
