@import '../../../styles/vars';

#abstract {
    grid-area: abstract;
    background-color: $background-blue;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .home-parag:first-of-type {
        margin-bottom: 1rem;
    }

    .abstract-wheels {
        margin-top: 3rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #abstract {
        .abstract-wheels {
            margin-top: 0;
        }
    }
}
