@import '../../../styles/vars';

#developer {
    grid-area: developer;
    background: $background-light;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .developer-title {
        font-size: 1.4rem;
        margin: 3rem 0 1rem 0;
    }
}
