@import '../../../styles/vars';

#developer {
    grid-area: developer;
    height: calc(100vh - 50px) ;
    background: $background-light;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    #developer {
        height: 100%;
    }
}
